.gray {
	background-color : #F8F8FF;
}
.task_deadline {
	font-size: 12px;
}
.wi_group_selected {
	color: green;
	cursor: pointer;
}
.wi_group_not_selected {
	color: grey;
	cursor: pointer;
}
.pointer {
	cursor: pointer;
}
.task_group_selected {
	color: green;
	cursor: pointer;
}
.task_group_not_selected {
	color: grey;
	cursor: pointer;
}
.task_late {
	background-color : red;
}
.task_final_hour {
	background-color : yellow;
}