.gray {
	background-color : #F8F8FF;
}
.task_deadline {
	font-size: 12px;
}
.filter_header {
	font-size: 20px;
}
.wi_group_selected {
	color: black;
	cursor: pointer;
}
.wi_group_not_selected {
	color: #D3D3D3;
	cursor: pointer;
}
.work_item {
	margin: 2px;
}
.work_item td {
	padding: 2px;
	font-size: 12px;
}
.work_item tr {
	padding: 0px;
}
.pointer {
	cursor: pointer;
}
.task_group_selected {
	color: black;
	cursor: pointer;
}
.task_group_not_selected {
	color: #D3D3D3;
	cursor: pointer;
}
.task_late {
	background-color : red;
}
.task_final_half_hour {
	background-color : gold;
}
.completed_task_late {
	color: red;
	font-weight: bold;
}
.completed_task_final_half_hour {
	color: gold;
	font-weight: bold;
}
.completed_ {
	color: green;
	font-weight: bold;
}
.unstyled_list_small {
	font-size: 10px;
	line-height: 0px;
}
.wi_deadline {
  text-align: right !important;
}
.basic_alert_text {
	font-size: 12px;
	color: red;
	font-weight: bold;
}
.no_work_today td {
	color: #D3D3D3;
}